---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alto">
  <main>
    <div>
      <h1 class="font-serif font-thin">tailwind test</h1>
      <p class="font-sans font-extrabold">
        lorem ipsdsalkfjas;lkfjsal;kfjals;kdjfl;kasjdf;lkasdfklasjdflkjaskldfa
      </p>
    </div>
  </main>
</Layout>
