body {
    font-family: Montserrat;
}

.react-autosuggest__container {
    margin-left: 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/* Text box */
.react-autosuggest__input {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    border: none;
    background-color: #F5F0F6;
}

/* When text box is clicked on */
.react-autosuggest__input--focused {
    outline: none;
}

/* Suggestions container */
.react-autosuggest__suggestions-container {
    display: flex;
    flex-direction: column;
}

/* Suggestions container when open */
.react-autosuggest__suggestions-container--open {
    display: block;
    /* position: absolute; */
    font-size: 20px;
}

/* Suggestions list */
.react-autosuggest__suggestions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Suggestion */
.react-autosuggest__suggestion {
    cursor: pointer;
    /* padding: 10px 20px; */
    color: #111621;
    margin: 0;
    padding: 0;
}

/* Highlighted Suggestion */
.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }