/* .MuiCollapse-container {
    width: 0px;
   transition-property: width;
}

.MuiCollapse-wrapperinner {
    width: auto;
}
  
.MuiCollapse-entered {
    width: 100%
}
  
.MuiCollapse-hidden {
    width: 0px
} */